aiohttp==3.7.3
altgraph==0.17
appdirs==1.4.4
asgiref==3.2.10
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
browsercookie==0.7.7
bs4==0.0.1
cachetools==4.2.1
certifi==2020.6.20
chardet==3.0.4
comtypes==1.1.9
defusedxml==0.6.0
discord==1.0.1
discord.py==1.6.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.1
django-allauth==0.42.0
django-crispy-forms==1.9.2
django-heroku==0.3.1
filelock==3.0.12
future==0.18.2
game-overlay-sdk==1.0.1
geojson==2.5.0
gunicorn==20.0.4
idna==2.10
importlib-metadata==3.10.0
keyboard==0.13.5
keyring==23.0.1
lxml==4.6.2
lz4==3.1.3
MouseInfo==0.1.3
multidict==5.1.0
numpy==1.20.1
oauthlib==3.1.0
opencv-python==4.5.1.48
pefile==2019.4.18
Pillow==8.1.0
praw==7.1.4
prawcore==1.5.0
psutil==5.8.0
psycopg2==2.8.6
py2exe==0.10.3.0
PyAutoGUI==0.9.52
pycryptodome==3.10.1
PyDirectInput==1.0.4
PyGetWindow==0.0.9
pyinstaller-hooks-contrib==2021.1
PyMsgBox==1.0.9
pyowm==3.2.0
pyperclip==1.8.2
pypresence==4.2.0
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyRect==0.1.4
PyScreeze==0.1.26
PySimpleGUI==4.38.0
PySocks==1.7.1
python3-openid==3.2.0
PyTweening==1.0.3
pytz==2020.1
pywin32==300
pywin32-ctypes==0.2.0
pywinauto==0.6.8
requests==2.24.0
requests-oauthlib==1.3.0
six==1.15.0
soupsieve==2.2
sqlparse==0.3.1
tqdm==4.56.0
typing-extensions==3.7.4.3
update-checker==0.18.0
urllib3==1.25.10
virtualenv==20.0.31
wavelink==0.9.7
websocket-client==0.57.0
whitenoise==5.2.0
wxPython==4.1.1
yarl==1.6.3
zipp==3.4.1
